@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}


.content-fit {
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

html, body {
    min-height: 100vh;
}

.about-title {
    width: 100%;
    margin: auto;
    background-color: rgb(250, 250, 255);
}

.about {
    background-color: rgb(238, 240, 242);
    padding: 40px 20px;

}

.about-header {
    margin: auto;
    text-align: center;
}

.about-text {
    margin: 50px auto;
    font-size: 15px;
    line-height: 190%;
}

.about-header {
    font-size: 18px;
    padding-bottom: 14px;
    text-decoration: underline;
}

.home-sample-questions-list li {
    margin: 15px 0px;
}

.sample-questions-card-home {
    color: black;
}


/* custom masonry css */
.masonry {
    background-image: url("../assets/newbuilding.jpg");
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
}

.masonry-content {
    width: 100%;
}

